body{
    margin: 0px;
    font-family: 'Luxurious Roman', cursive;
}
.common-section-area{
    display: flex;
    margin-bottom: 100px;

}
.about-me{
    width: 50%;
    margin-left: 80px;
    margin-top: 60px;
}
.about-me p{
    font-size: 18px;
    font-weight: 400;
}
.h-color{
    color: #FF7F50;
}
.h-border{
    border-left: 4px solid #FFC300;
    padding-left: 5px;
    font-size: 50px;
}
a{
    background-color: #FF7F50;
    padding: 10px 30px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 6px;

}
small{
    margin-top: 0px;
}
.common-mission{
    width: 33%;
    margin: 20px;   
    padding: 20px;
    border-radius: 20px;
    
}
.bg-color1{
    background-color: #d77fa133;
}
.bg-color2{
    background-color: #758fb833;
}
.bg-color3{
    background-color: #ebe83d54;
}
.develop-area{
    width: 50%;
    background-image: url(images/shapes/shape-1.png);
    
}
.develop-area img{
    margin-left: 80px;  
}
.develop-area h1{
    font-size: 40px;
}
.develop-area p{
    margin-right: 150px;
}

/* Footer section start*/
footer{
    background-color: rgba(0, 0, 0, 0.801);
    height: 150px;
    text-align: center;
    padding-top: 20px;
    
}
footer h1,small{
    color: white;
    
}
.footer-year-color{
    color: tomato;
}